[submodule "repos/organizational-os"]
	path = repos/organizational-os
	url = https://github.com/regen-coordination/organizational-os.git
[submodule "repos/organizational-os-framework"]
	path = repos/organizational-os-framework
	url = https://github.com/regen-coordination/organizational-os-framework.git
[submodule "repos/organizational-os-template"]
	path = repos/organizational-os-template
	url = https://github.com/regen-coordination/organizational-os-template.git
