node_modules
.DS_Store
dist
coverage
.turbo
playwright-report
test-results
output/playwright/*
!.gitkeep

docs/build
docs/.docusaurus

stats-*.html
.env*
packages/app/public/__coop_dev__/*
!packages/app/public/__coop_dev__/.gitkeep
